@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">I am App service 02 on Application gateway 02 </h1>
    <p></p>
    <hr />
    <div></div>
</div>
